@container_background: #00b1c9;
@text_color: #57ff15;
@colors: #0275D8, #5DB85B, #5CC0DE, #F0AD4E, #D6524E;

* {
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    margin: auto;
    border-radius: 10px;
    padding: 2%;
    width: 40%;
    height: fit-content; 
    background-color: @container_background;
}

li {
    border: 1px solid #000;
    margin-bottom: 1px;
    padding: 5px;
}

ul {
    margin-top: 15px;
    margin-bottom: 15px;
}

.main_color {
    font-size: 20px;
    color: @text_color;
}

/* fuentes: https://stackoverflow.com/questions/21440789/loop-through-array-of-variable-names-in-less */
.loop(@index) when (@index > 0) {
    @color: extract(@colors, @index);
    li:nth-child(@{index}) {
        background-color: @color;
    }
    .loop(@index - 1);
}

.loop(length(@colors));