<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue</title>
</head>
<body>
    <div id="app">
        <h1>NOMBRES</h1>
        <input type="text" v-model="nombre" placeholder="Nombre" />
        <input type="text" v-model="rol" placeholder="Rol" />
        <button @click="agregarPersona">Guardar</button>
        
        <ul>
            <li v-for="(persona, index) in personas" :key="index">
                {{ persona.nombre }} {{ persona.rol }}
            </li>
        </ul>

    </div>

    <script type="module">
        import { createApp, ref } from 'https://unpkg.com/vue@3.2.47/dist/vue.esm-browser.js';

        createApp({
            setup() {
                const nombre = ref('');
                const rol = ref('');
                const personas = ref([
                    {
                        nombre: 'Chris',
                        rol: 'frontend'
                    }
                ]);

               
                return {
                    nombre,
                    rol,
                    personas
                };

            },
        
            methods: {
                agregarPersona() {
                    this.personas.push({
                        nombre: this.nombre,
                        rol: this.rol
                    });
                    this.nombre = '';
                    this.rol = '';
                }
            }
        }).mount('#app');
    </script>
</body>
</html>
